@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsBusModel
@{
    var bus = Model.Bus;
}
 
<ul class="list-group list-group-flush">
<<<<<<< HEAD
  <li class="list-group-item"> <b>id: </b> @bus.id</li>
  <li class="list-group-item"> <b>Marca: </b> @bus.marca</li>
  <li class="list-group-item"> <b>Modelo: </b> @bus.modelo</li>
  <li class="list-group-item"><b>Kilometraje: </b> @bus.kilometraje</li>
  <li class="list-group-item"><b>Numero de asientos: </b> @bus.numero_asientos</li>
  <li class="list-group-item"><b>Placa: </b> @bus.placa</li>
=======
  <li class="list-group-item"> <b>id: </b> @buses.id</li>
  <li class="list-group-item"> <b>Marca: </b> @buses.marca</li>
  <li class="list-group-item"> <b>Modelo: </b> @buses.modelo</li>
  <li class="list-group-item"><b>Kilometraje X: </b> @buses.kilometraje</li>
  <li class="list-group-item"><b>Numero Asientos Y: </b> @buses.numero_asientos</li>
>>>>>>> prueba
</ul>