@page
@model ProyectoCiclo3.App.Frontend.Pages.DetailsBusesModel
@{
    var buses = Model.Buses;
}
 
<ul class="list-group list-group-flush">
  <li class="list-group-item"> <b>id: </b> @buses.id</li>
  <li class="list-group-item"> <b>Marca: </b> @buses.marca</li>
  <li class="list-group-item"> <b>Modelo: </b> @buses.modelo</li>
  <li class="list-group-item"><b>Kilometraje X: </b> @buses.kilometraje</li>
  <li class="list-group-item"><b>Numero Asientos Y: </b> @buses.numero_asientos</li>
</ul>